@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel-container {
    max-width: 600px; /* Sesuaikan dengan lebar yang diinginkan */
    margin: 0 auto; /* Agar terpusat */
}


@layer base {
    html {
        font-family: 'Volkhov', sans-serif;
    }
  }
